<li class='link'>
	<a class='title' href='<%= link.url %>'><%= link.title %></a>
	<div class='description'>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</div>
		<% link.tags.map do |tag|  %>
			<div class='tags'>
				<%= tag.text %>
			</div>
		<% end %>

	<span class = 'source'>
		Added by <a href="#">Captain Carrot</a>
	</span>
	
	<div class = 'source'>
		<i class="fa fa-heart"> <%= link.users.count %></i>
	</div>

	<form id="favourite-form" method="post" action="/favourites">
		<button class="favourite" name="link_id" value="<%= link.id %>">Favourite</button>
	</form>
</li>